node_modules
workspaces/server/node_modules
workspaces/server/src/models/private_key.txt
workspaces/client/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

workspaces/client/.pnp
workspaces/client/.pnp.js

# testing
workspaces/client/coverage

# production
workspaces/client/build

# misc
workspaces/client/.DS_Store
workspaces/client/.env.local
workspaces/client/.env.development.local
workspaces/client/.env.test.local
workspaces/client/.env.production.local

workspaces/client/npm-debug.log*
workspaces/client/yarn-debug.log*
workspaces/client/yarn-error.log*
